*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
        background: url('https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2020/05/black-paper-background.jpg');
        background-size: cover;
        background-color: rgb(36, 36, 116); 
        transition: 0.5;
        user-select: none;
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 175px;
        display: flex;
        justify-content: space-between;
        align-items: center;        
}

.bar {
        border-radius: 0px 0px 37.5px 37.5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2% 7%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
}

.title {
        font-size: 25px;
        font-weight: 600;
        color: white;
        display: inline; 
        font-family: sans-serif; 
        font-style: oblique;
        text-shadow: 15px 15px 3.5px rgba(7, 2, 24, 0.8);
        text-decoration: wavy;
}

.title:hover {
        transform: scaleX(1.06);
        transition: 1s;
        translate: 5px;
        font-size: 26px;
        font-weight: 600;
        color: white;
        display: inline; 
        font-family: sans-serif; 
        font-style: oblique;
        text-shadow: 20px 20px 6px rgba(5, 1, 16, 0.8);        
        text-decoration: wavy;
}

div {
        display: flex;
        justify-content: space-between;
        width: 35%;
}
di
v a {
        transition: 0.5s;
        text-decoration: none;
        color: white;
        text-shadow: 5px 5px 15px rgb(0, 0, 0),
        -5px 5px 10px rgb(0, 0, 0);
}

.home {
        transition: 0.5s;
        text-decoration: none;
        color: gray;
        font-size: larger;
        text-shadow: 5px 5px 15px rgb(0, 0, 0),
        -5px 5px 10px rgb(0, 0, 0);
}

div a:hover::after {
        transition: 0.5s;
        content: 'hello';
        position: relative;
        top: 25px;
        right: 25px;
        text-decoration: none;
        border-radius: 0px 40px 40px 40px;
        padding: 3px 6px 4px;
        background-color: rgb(120, 121, 131);
        color: white;
        text-shadow: 5px 5px 15px rgb(0, 0, 0),
        -5px 5px 10px rgb(0, 0, 0);
}

img {
        translate: -100px;
        width: 650px;
        clip-path: circle();
        filter: blur(2px);
}

img:hover {
        transition: 0.5s;
        width: 650px;
        transform: scaleX(1.1) scaleY(1.1) scaleZ(1.1);
        clip-path: circle();
        filter: blur(0px);
}

.text {
        font-size: x-large;
        color: #fff;
        font-weight: 600;
        margin: 20px;
        text-transform: initial;
        text-shadow: 3px 3px 6px rgb(6, 9, 40);
        text-decoration: dotted;
}

.Text {
        font-size: 50px;
        color: rgb(38, 62, 170);
        font-weight: 800;
        display: inline;
        font-family: sans-serif; 
        font-style: oblique;
        text-shadow: 5px 5px 9px rgb(5, 11, 33);
        text-decoration: wavy;
}