*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
        background: url('https://wallpaperaccess.com/full/5651978.png');
        background-attachment: fixed;
        background-size: cover;
        background-color: rgb(29, 29, 131); 
        transition: 0.5;
        user-select: none;
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 175px;     
}

.setor {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
}

.bar {
        border-radius: 0px 0px 37.5px 37.5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2% 7%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
}

.title {
        margin-right: 600px;
        font-size: 25px;
        font-weight: 600;
        color: white;
        display: inline; 
        font-family: sans-serif; 
        font-style: oblique;
        text-shadow: 15px 15px 3.5px rgba(43, 24, 105, 0.8);
        text-decoration: wavy;
}

.title:hover {
        transform: scaleX(1.06);
        transition: 1s;
        translate: 5px;
        font-size: 26px;
        font-weight: 600;
        color: white;
        display: inline; 
        font-family: sans-serif; 
        font-style: oblique;
        text-shadow: 20px 20px 6px rgba(46, 30, 92, 0.8);        
        text-decoration: wavy;
}

header div {
        display: flex;
        justify-content: space-between;
        width: 35%;
}
div a {
        transition: 0.5s;
        text-decoration: none;
        color: white;
        text-shadow: 5px 5px 15px rgb(0, 0, 0),
        -5px 5px 10px rgb(0, 0, 0);
}
div .facebook {
        transition: 0.5s;
        text-decoration: none;
        color: rgb(38, 94, 225);
        text-shadow: 5px 5px 15px rgb(0, 0, 0),
        -5px 5px 10px rgb(0, 0, 0);
}
div .github {
        transition: 0.5s;
        text-decoration: none;
        color: rgb(86, 88, 93);
        text-shadow: 5px 5px 15px rgb(0, 0, 0),
        -5px 5px 10px rgb(0, 0, 0);
}

.home {
        transition: 0.5s;
        color: white;
        font-size: larger;
        text-decoration: underline;
        text-shadow: 5px 5px 15px rgb(0, 0, 0),
        -5px 5px 10px rgb(0, 0, 0);
}

.setor img {
        translate: -100px;
        width: 650px;
        clip-path: circle();
        filter: blur(2px);
}

.setor img:hover {
        transition: 0.3s;
        width: 650px;
        transform: scaleX(1.1) scaleY(1.1) scaleZ(1.1);
        clip-path: circle();
        filter: blur(0px);
}

.text {
        font-size: x-large;
        color: #fff;
        font-weight: 550;
        margin-left: 100px;
        text-shadow: 3px 3px 6px rgb(6, 9, 40);
}

.Text {
        font-size: 50px;
        color: rgb(22, 38, 219);
        font-weight: 800;
        display: inline;
        font-family: sans-serif; 
        font-style: oblique;
        text-shadow: 5px 5px 9px rgb(5, 11, 33);
        text-decoration: wavy;
}

.what {
        font-size: 75px;
        font-weight: 750;
        font-style: normal;
        color: azure;
}

.sec2 {
        display: flex;
        justify-items: start;
        justify-content: space-between;
        align-items: center;
}
.bar img {
        margin-left: -60px;
        clip-path: circle();
        width: 135px;
}
.first {
        width: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 260px;
        margin-top: 50px;
        margin-bottom: 15px;
}

.fimg {
        width: 250px;
        border-radius: 20px;
}

.fimg:hover {
        
        transition: 0.3s;
        transform: scale(1.05);
        width: 250px;
        border-radius: 20px;
}

h3 {
        color: azure;
        font-size: 25px;
        display: block;
        margin-left: 75px;
}

h3:hover {
        transition: 0.3s;
        transform: scale(1.05);
        color: azure;
        display: block;
        margin-left: 75px;
}

.works {
        padding: 20px;
        display: block;
}

p:hover {
        transition: 0.3s;
        transform: scale(1.05);
}

a:hover {
        transition: 0.3s;
        transform: scale(1.11);
}
hr {
        margin-left: 250px;
        width: 500px;
}

hr:hover {
        transition: 0.3s;
        margin-left: 250px;
        width: 470px;
}

span {
        font-size: 17.5px;
        font-weight: 400;
        display: block;
        color: rgb(233, 233, 75);
}