body {
        background-image: url('https://scontent-hbe1-1.xx.fbcdn.net/v/t1.15752-9/332870733_647747523731067_6723424095670016712_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=Ym6QrzyEAZwAX8MkGuy&_nc_ht=scontent-hbe1-1.xx&oh=03_AdRYFxJQvH6rQmROJXT51UeihbvQkyFyNmOU6eP83iUMdQ&oe=64357CDB');
        background-position: bottom;
        background-size: 40%;
        background-repeat: no-repeat;
        
}