body {
        user-select: none;
        background: url('');
}
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 175px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        background-color: rgb(36, 36, 116); 
        transition: 0.5;
}

.hed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 70px;
        display: flex;
        justify-content: space-between;
        justify-items: auto;
        align-items: center;
}

.logo {
        position: relative;
        min-width: 70px;
}
header ul a li{
        list-style: none;
}
.aa{
        display: inline-block;
        color: #fff;
        font-weight: 600;
        margin-left: 50px;
        text-decoration: none;
        margin-bottom: 50px;
        font-size: larger;
        text-shadow: 1px 1px 4px rgb(20, 27, 102);

}

.aaa{
        margin-bottom: 50px;
        text-shadow: 1px 1px 4px rgb(20, 27, 102);

        display: inline-block;
        font-size: larger;
        color: #fff;
        font-weight: 600;
        margin-left: 760px;
        text-decoration: none;
}
.cont {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.text {
        font-size: x-large;
        color: #fff;
        font-weight: 600;
        margin: 20px;
        text-transform: initial;
        text-shadow: 3px 3px 6px rgb(6, 9, 40);
        text-decoration: dotted;
}

.imgBox:hover {
        transition: 5s;
        transform: rotate(10675657801520deg);
        translate: -1000px;
}
.logo:hover {
        display: flex;
        transition: 2s;
        transform: rotate(36000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000deg);
}
